* {
    box-sizing: border-box;
}

%normal-heading {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    @extend %normal-heading;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    @extend %normal-heading;
    font-size: 1.125rem;
    
}

h6 {
    @extend %normal-heading;
    font-weight: 100;
    font-size: 1rem;
    
}

a {
    color: #fff;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    width: 100%;
    margin: 0 auto;
}

%container {
    width: 80%;
    position: relative;
    height: auto;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 85vh;
    position: relative;
    top: 0;

    .background {
        position: absolute;
    }

    .menu-with-gradient {
        position: relative;
        background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0.7),
            rgba(70, 70, 70, 0.6), 
            rgba(70, 70, 70, 0.5),
            rgba(70, 70, 70, 0.4),
            rgba(70, 70, 70, 0.3),
            rgba(70, 70, 70, 0.2),
            rgba(70, 70, 70, 0.1),
            rgba(70, 70, 70, 0)
            );
    }

    nav {
        position: relative;
        width:80%;
        margin: 0 auto;

        .menu {
            display: flex;
            height: 10vh;
            line-height: 10vh;
            list-style: none;
            padding: 0;
            margin: 0;

            &__logo {
                flex: 1;

                &--text {
                    font-size: 1.8rem
                }
            }

            li {
                margin-left: 2rem;

                &:first-child {
                    margin-left: 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    &__footer {
        color: #717171;
        display: flex;
        position: absolute;
        bottom: 0;
        height: 50px;
        line-height: 50px;
        width: 100%;

        &-closing-days {
            background: rgba(32%, 31%, 31%, 0.4);
            font-size: 0.85rem;
            height: 100%;
            padding: 0 1rem;
            position: relative;
            text-align: right;
            text-transform: uppercase;
            color: #fff; 
            width: 40%;
            
            &:after {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-left-color: rgba(82, 79, 79, 0.3);
                border-width: 0.4rem;
                margin-top: -0.4rem;
            }
        }

        &-couting-days {
            background: rgba(235, 235, 235, 0.5);
            color: #464646;
            font-size: 2rem;
            font-weight: bold;
            padding-left: 1rem;
            width: 100%;

            &--day-text {
                font-weight: 400;
            }
        }
    }
}

.container {
    @extend %container;
}

.container-fluid {
    width: 100%;
}

.box-info-vote {
    @extend %container;
    padding: 0;
    top: 10%;

    &__position {
        min-width: 200px;
        max-width: 430px;
    }

    &__container {
        
        height: 40vh;
        position: relative;
        backdrop-filter: blur(12px);
        background-color: rgba(128, 127, 127, 0.6);
        padding: 2rem;
    }

    &__text {
        font-size: 1.25rem;
        font-weight: 300;;
    }

    &__more-information {
        font-size: 0.85rem;
    }

    &__verdict {
        font-size: 1.25rem;
        margin-top: 3rem;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;

        &-thumbs-up, &-thumbs-down {
            height: 70px;
            line-height: 70px;
            width: 100%;
            text-align: center;
        }

        &-thumbs-up {
            background: rgba(12, 187, 178, 0.8);
            backdrop-filter: blur(12px);
        }
        &-thumbs-down {
            background: rgba(252, 160, 0, 0.8)
        }
    }
}

section {
    @extend %container;
    color: #464646;
    background: #fff;
    height: auto;

    .porposal {
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        padding: 1.5rem;
        background: #ebebeb;

        &__objetive {
            &--text {
                font-size: 1.25rem;
                font-weight: 400;
            }

            &--bold-text {
                font-size: 2rem;
                font-weight: bold;
            }
        }

        &__rule-thumb {
            flex: 1;
            line-height: 1.5rem;
            margin-left: 1rem;
        }
    }

    .votes {
        margin: 2rem 0 0 0;

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 2rem;
        }

        &__box {
            flex-basis: 50%;
            margin-bottom: 2rem;
            
            &:nth-child(odd) {
                padding-right: 1rem;
            }

            &:nth-child(even) {
                padding-left: 1rem;
            }
        }

        &__background {
            position: relative;

            &:after {
                content:'';
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                background-image: linear-gradient(to top, rgba(51, 51, 51, 0.9),
                rgba(51, 51, 51, 0.9), 
                rgba(51, 51, 51, 0.9),
                rgba(51, 51, 51, 0.5),
                rgba(51, 51, 51, 0.3),
                rgba(51, 51, 51, 0.2),
                rgba(51, 51, 51, 0.1),
                rgba(51, 51, 51, 0)
                );
            }
        }

        &__info-container {
            bottom: 0;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            position: absolute;
            width: inherit;
            color: #fff;
            z-index: 1;
        }

        &__thumb-up-voting {
            background: #1cbbb4;
            padding: 0.3rem;
            color: #fff;
            margin-top: 1rem;
        }

        &__character-info {
            flex-basis: 90%;
            padding-left: 1rem;
        }

        &__buttons-container {
            display: flex;
            align-items: center;

            div {
                margin-right: 1rem;
            }
        }

        .buttons-container {

            &__thumb-up {
                background: #1cbbb4;
                padding: 0.4rem;
            }

            &__thumb-down {
                background: #ffad1d;
                padding: 0.4rem;
            }

            &__vote-now {
                height: 100%;
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
                padding: .7rem 1.25rem;
                font-weight: bold;
            }
        }

        &__progresive-bars {
            flex-basis: 100%;
            display: flex;
            height: 50px;
            margin-top: 2rem;
        }

        .progresive-bars {

            &__thumb-up, &__thumb-down {
                display: flex;
                align-items: center;
                
                &--percent {
                    font-size: 2rem;
                    font-weight: 300;
                }
            }

            &__thumb-up {
                width: 90%;
                padding-left: 1rem;
                background: rgba(28, 187, 180, 0.7);
            }

            &__thumb-down {
                width: 10%;
                background: rgba(255, 173, 29, 0.7);
                justify-content: flex-end;
                padding-right: 1rem;
            }   
        }
    }

    .add-person {
        background: url('../images/add-person.png');
        height: 70px;

        &__container {
            display: flex;
            height: 100%;
            align-items: center;
            background: rgba(255, 255, 255, 0.8);
            padding: 1rem;
        }

        &__text {
            flex: 1;
            font-size: 2rem;
            font-weight: 300;
        }

        &__submit-name {
            background: transparent;
            border: 3px solid #000;
            font-size: 1.125rem;
            padding: 0.8rem 2rem;
        }


        
    }
}

footer {
    @extend %container;
    align-items: center;
    background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 10px 1px;
    background-repeat: repeat-x;
    display: flex;
    color: #717171;
    margin: 2rem auto;
    height: 50px;
    padding-top: 1rem;

    .footer {

        &__about-us {
            display: flex;
            flex: 1;
            list-style: none;
            padding: 0;
            font-size: .8rem;

            li:not(:first-child) {
                margin-left: 1rem;
            }
        }

        &__social-network {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: flex-end;
            flex-basis: 25%;
            font-size: .8rem;

            li:not(:first-child) {
                margin-left: 1rem;
            }
        }

    }
    
    
}

