

* {
    box-sizing: border-box;
}



h1, h2, h3, h4, h5 {
    @extend %normal-heading;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    @extend %normal-heading;
    font-size: 1.125rem;

}

h6 {
    @extend %normal-heading;
    font-size: 1rem;
    font-weight: 100;

}

a {
    color: #FFF;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    width: 1200px;
    margin: 0 auto;
}



img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}



.container {
    @extend %container;
}

.container-fluid {
    width: 100%;
}



section {
    @extend %container;
    background: #fff;
    color: #464646;
    height: auto;
}

