@import '../../../assets/scss/variables.scss';

.porposal {
    @extend %flex-center;
    background: $gray-background;
    margin-top: $space-separation-2x;
    padding: $space-separation-and-half;

    &__objetive {
        &--text {
            font-size: $font-size-and-half;
            font-weight: 400;
        }

        &--bold-text {
            font-size: $font-size-2x;
            font-weight: bold;
        }
    }

    &__rule-thumb {
        flex: 1;
        line-height: $space-separation-and-half;
        margin-left: $space-separation
    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;

        &__rule-thumb {
            margin-top: $space-separation;
        }
    }
}