@import "../../../assets/scss/variables.scss";

.add-person {
    background: url('../../../assets/images/add-person.png');
    height: 70px;
    margin-bottom: $space-separation-2x;

    &__container {
        align-items: center;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        height: 100%;
        padding: $space-separation;
    }

    &__text {
        flex: 1;
        font-size: $font-size-2x;
        font-weight: 300;
    }

    &__submit-name {
        background: transparent;
        border: 3px solid #000;
        font-size: $font-size-and-eighth;
        padding: 0.8rem $space-separation-2x;
    }

    @media only screen and (max-width: 768px) {
        height: 120px;

        &__container {
            flex-direction: column;
        }

        &__text {
            font-size: $font-main-size;
        }

        &__submit-name {
            font-size: $font-main-size;
            margin-top: $space-separation;
            padding: 0.5rem $space-separation;
        }
    }
}