@import '../../../assets/scss/variables.scss';

.buttons-container {

    &__thumb-up {
        background: $thumb-up-background;
        padding: 0.4rem;
    }

    &__thumb-down {
        background: $thumb-down-background;
        padding: 0.4rem;

    }

    &__thumb-up, &__thumb-down {
        border: none;
        color: $color-white;

        &.selected {
            border: 1px solid $color-white;
        }

        &:focus {
            outline: none;
        }

        &--icon {
            vertical-align: middle;
        }
    }

    &__vote-now {
        background: transparent;
        border: 1px solid $color-white;
        color: $color-white;
        font-weight: bold;
        height: 100%;
        padding: .7rem 1.25rem;

        &:focus {
            outline: none;
        }
    }
}