@import '../../../assets/scss/variables.scss';

.box-info-vote {
    @extend %container;
    padding: 0;
    top: 10%;

    &__position {
        max-width: 430px;
        min-width: 200px;

        @media only screen and (max-width: 992px) {
            margin: 0 auto;
        }
    }

    &__container {
        backdrop-filter: blur(12px);
        background-color: rgba(128, 127, 127, 0.6);
        height: 40vh;
        padding: $space-separation-2x;
        position: relative;

        @media only screen and (max-width: 768px) {
            height: 45vh;
        }
    }

    &__text {
        font-size: $font-size-and-quarter;
        font-weight: 300;

        @media only screen and (max-width: 768px) {
            font-size: $font-main-size;
        }
    }

    &__more-information {
        font-size: 0.85rem;
    }

    &__verdict {
        font-size: $font-size-and-quarter;
        margin-top: $space-separation-3x;

        @media only screen and (max-width: 768px) {
            font-size: $font-main-size;
            margin-top: $space-separation;
        }
    }

    &__footer {
        @extend %flex-center;

        &-thumbs-up, &-thumbs-down {
            @include same-height-line-height(70px);
            text-align: center;
            width: 100%;

            &--icon {
                font-size: $font-size-2x;
                vertical-align: middle;
            }

            @media only screen and (max-width: 768px) {
                @include same-height-line-height(50px);

                &--icon {
                    font-size: $font-size-and-half;
                }
            }
        }

        &-thumbs-up {
            background: rgba(12, 187, 178, 0.8);
            backdrop-filter: blur(12px);
        }
        &-thumbs-down {
            background: rgba(252, 160, 0, 0.8)
        }
    }
}